@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

$dark: #05386B;
$greeny: #5CDB95;

$primary: $dark;
$family-sans-serif: "Quicksand", sans-serif;
$navbar-background-color: $dark;
$navbar-item-hover-background-color: $dark;
$body-background-color: $greeny;
$column-gap: 0.25rem;

$control-radius: 0;
$control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";


*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.hero-body{
  justify-content: center;
  background-color: #5CDB95;
    button{
      margin: 120px 10px 0 0;
      transition: box-shadow 0.3s;
      &:hover{
        box-shadow:0 8px 6px -6px #FFFFFF, 0 8px 6px 2px #8D8D8D;
    }
  }
}
.card-header-title{
  color: white;
}
.card {
    text-align: center;
    min-height: 450px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
    background-color:$dark ;
    color:white;
      .image img{
        background-color: white;
        min-height: 250px;
        border-radius: 10px 10px 0px 0px;
      }
        &:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
        margin: 5px;
      }
        .card-header-title{
          justify-content: center;
      }
}


.mapboxgl-popup {
  max-width: 170px;
  font: 9pt 'Courier New', Arial, Helvetica, sans-serif;
  & h4 {
    margin: 5px 2px 2px 2px;
    color: orange;
  }
  & p {
    margin: 2px;
  }
  & .event-image {
    max-height: 70px;
    display: flex;
    justify-content: center;
  }
}

input.react-mapbox-ac-input {
  margin-bottom: 10px;
}

.react-mapbox-ac-suggestion {
  font-size: 18px;
  margin-bottom: .5rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.map {
  height: 500px;
  width: 100%;
}

// MARKERS acording to Category

$Allred: red;
$Pubs: blue;
$Restaurant: cyan;
$Bars: purple;
$Cafes: brown;
$Landmarks: yellow;
$Viewpoints: orange;
$Religious: grey;
$Galleries: violet;
$Parks: green;

.All {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.All:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}

.Allred:before{
  background-color: $Allred;
  border: 0.5px solid darken($Allred, 20%);
}

.Pub:before {
  background-color: $Pubs;
  border: 0.5px solid darken($Pubs, 20%);
}

.Restaurant:before {
  background-color: $Restaurant;
  border: 0.5px solid darken($Restaurant, 20%);
}

.Bars:before {
  background-color: $Bars;
  border: 0.5px solid darken($Bars, 20%);
}

.Cafes:before {
  background-color: $Cafes;
  border: 0.5px solid darken($Cafes, 20%);
}

.Landmarks:before {
  background-color: $Landmarks;
  border: 0.5px solid darken($Landmarks, 20%);
}

.Viewpoints:before {
  background-color: $Viewpoints;
  border: 0.5px solid darken($Viewpoints, 20%);
}

.Religious:before {
  background-color: $Religious;
  border: 0.5px solid darken($Religious, 20%);
}

.Galleries:before {
  background-color: $Galleries;
  border: 0.5px solid darken($Galleries, 20%);
}

.Parks:before {
background-color: $Parks;
  border: 0.5px solid darken($Parks, 20%);
}
