@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

$dark: #05386B;
$greeny: #F4F7F6;

$primary: $dark;
$family-sans-serif: "Quicksand", sans-serif;
$navbar-background-color: $dark;
$navbar-item-hover-background-color: $dark;
// $body-background-color: #F4F7F6;
$column-gap: 0.30rem;

$control-radius: 0;
$control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";


*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav.navbar{
  background-color: transparent;
}

.navbar-dropdown, .navbar-divider{
  background-color: rgba(141, 119, 92, 0.3);
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: rgba(141, 119, 92, 0.3);
}

button.button.home {
  color: white;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid white;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 5%;
}

button.homesecond {
  color: white;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid white;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 5%;
}

input.searchBar {
  width: 30%;
}

textarea.textarea {
  margin: 23px auto;
  border-radius: 10px;
  max-width: 50%;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background images are behind other content*/
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*take entire space of the page*/
  background-size: cover;
  /*position in the middle*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  /*fade images in/out : name of the animation, last 50s linear same speed, loop infinite*/
  animation: imageAnimation 50s linear infinite;
}

/*fade in each image after 10s of the previous img*/
.slideshow li:nth-child(1) {
  background-image: url(./images/picNpgx.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1534770311507-ec2bf6cf3f32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1516526992402-7519663a4c68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1336&q=80);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://mk0theadventuregfnyq.kinstacdn.com/wp-content/uploads/Types-of-climbing-3.jpg);
  animation-delay: 40s;
}


/*select imageAnimation property and set transition on keyframes */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.card-header-title{
  color: white;
}

.isImage {
    text-align: center;
    max-height: 400px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
      .image img{
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
        &:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);

        margin: 5px;
      }
        .card-header-title{
          justify-content: center;
      }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-weight: 200px;
  padding: 10% 10%;
}

.isImage:hover .gemImage {
  opacity: 0.3;
}

.isImage:hover .middle {
  opacity: 1;
}

.mapboxgl-popup {
  max-width: 170px;
  font: 9pt 'Courier New', Arial, Helvetica, sans-serif;
  & h4 {
    margin: 5px 2px 2px 2px;
    color: orange;
  }
  & p {
    margin: 2px;
  }
  & .event-image {
    max-height: 70px;
    display: flex;
    justify-content: center;
  }
}

input.react-mapbox-ac-input {
  margin-bottom: 10px;
}

.react-mapbox-ac-suggestion {
  font-size: 18px;
  margin-bottom: .5rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.map {
  height: 500px;
  width: 100%;
}

// MARKERS acording to Category

$Allred: red;
$Pubs: blue;
$Restaurants: cyan;
$Bars: purple;
$Cafes: brown;
$Landmarks: yellow;
$Viewpoints: orange;
$Religious: grey;
$Galleries: violet;
$Parks: green;

 // https://css-tricks.com/the-shapes-of-css/
.Gem {
  border-style: solid;
  border-color: transparent transparent red transparent;
  border-width: 0 15px 15px 15px;
  height: 0;
  width: 20px;
  box-sizing: content-box;
  position: relative;
  margin: 10px 0 25px 0;
}
.Gem:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: red transparent transparent transparent;
  border-width: 35px 25px 0 25px;
}


.All {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.All:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}

.Allred:before{
  background-color: $Allred;
  border: 0.5px solid darken($Allred, 20%);
}

.Pubs:before {
  background-color: $Pubs;
  border: 0.5px solid darken($Pubs, 20%);
}

.Restaurants:before {
<<<<<<< HEAD
  background-color: $Restaurants;
  border: 0.5px solid darken($Restaurants, 20%);
=======
  background-color: $Restaurant;
  border: 0.5px solid darken($Restaurant, 20%);
>>>>>>> development
}

.Bars:before {
  background-color: $Bars;
  border: 0.5px solid darken($Bars, 20%);
}

.Cafes:before {
  background-color: $Cafes;
  border: 0.5px solid darken($Cafes, 20%);
}

.Landmarks:before {
  background-color: $Landmarks;
  border: 0.5px solid darken($Landmarks, 20%);
}

.Viewpoints:before {
  background-color: $Viewpoints;
  border: 0.5px solid darken($Viewpoints, 20%);
}

.Religious:before {
  background-color: $Religious;
  border: 0.5px solid darken($Religious, 20%);
}

.Galleries:before {
  background-color: $Galleries;
  border: 0.5px solid darken($Galleries, 20%);
}

.Parks:before {
background-color: $Parks;
  border: 0.5px solid darken($Parks, 20%);
}
