@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand');

$dark: #05386B;
$greeny: #F4F7F6;

$primary: $dark;
$family-sans-serif: "Quicksand", sans-serif;
$navbar-background-color: $dark;
$navbar-item-hover-background-color: $dark;
// $body-background-color: #F4F7F6;
$column-gap: 0.30rem;

$control-radius: 0;
$control-radius-small: 0;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/section.sass";


*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav.navbar{
  background-color: transparent;
 a {
   font-weight: 900;
 }
}

.navbar-dropdown, .navbar-divider{
  background-color: rgba(141, 119, 92, 0.3);
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: rgba(141, 119, 92, 0.3);
}

.navbar-link:not(.is-arrowless)::after {
    border-color: white;
  }

.far.fa-gem.homepage {
  padding-left: 10px;
}

.rotate{
    transition: all 2s linear;
}

.rotate.down{
    transform: rotate(180deg);
}

button.button.home {
  color: white;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid white;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 5%;
}

button.homesecond {
  color: white;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid white;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 5%;
}

input.searchBar {
  width: 30%;
}

textarea.textarea {
  margin: 23px auto;
  border-radius: 10px;
  max-width: 50%;
}


.card-header-title{
  color: white;
}

.isImage {
    text-align: center;
    max-height: 400px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
      .image img{
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
        &:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);

        margin: 5px;
      }
        .card-header-title{
          justify-content: center;
      }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-weight: 200px;
  padding: 10% 10%;
}

.isImage:hover .gemImage {
  opacity: 0.3;
}

.isImage:hover .middle {
  opacity: 1;
}

.is-horizontial-center{
  justify-content: center;
}

.user-header{
  background-color: #f5f7fa;
}

.mapboxgl-popup {
  max-width: 170px;
  font: 9pt 'Courier New', Arial, Helvetica, sans-serif;
  & h4 {
    margin: 5px 2px 2px 2px;
    color: orange;
  }
  & p {
    margin: 2px;
  }
  & .event-image {
    max-height: 70px;
    display: flex;
    justify-content: center;
  }
}

input.react-mapbox-ac-input {
  margin-bottom: 10px;
}

.react-mapbox-ac-suggestion {
  font-size: 18px;
  margin-bottom: .5rem;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.map {
  height: 500px;
  width: 100%;
}

// MARKERS acording to Category

$Allred: red;
$Pubs: blue;
$Restaurants: cyan;
$Bars: purple;
$Cafes: brown;
$Landmarks: yellow;
$Viewpoints: orange;
$Religious: grey;
$Galleries: violet;
$Parks: green;

 // https://css-tricks.com/the-shapes-of-css/
 // <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

.picgems{
  height: 50px;
  width: 50px;
  background-image: url(/accests/images/diamond.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.All {
  border-style: solid;
  border-width: 0 15px 15px 15px;
  height: 0;
  width: 20px;
  box-sizing: content-box;
  position: relative;
  margin: 10px 0 25px 0;
  outline:1px 0 1px 0 solid black;
}
.All:after {
  content: "";
  position: absolute;
  top: 15px;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 25px 0 25px;
  outline: 1px 1px 0 1px solid black;
}


.All {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Allgems{
  border-color: transparent transparent red transparent;

}
.Allgems:after {
  border-color: red transparent transparent transparent;
}

.Pubs{
  border-color: transparent transparent $Pubs transparent;
}
.Pubs:after {
  border-color: $Pubs transparent transparent transparent;
}

.Restaurants{
  border-color: transparent transparent $Restaurants transparent;
}
.Restaurants:after {
  border-color: $Restaurants transparent transparent transparent;
}
.Bars{
  border-color: transparent transparent $Bars transparent;
}
.Bars:after {
  border-color: $Bars transparent transparent transparent;
}
.Cafes{
  border-color: transparent transparent $Cafes transparent;
}
.Cafes:after {
  border-color: $Cafes transparent transparent transparent;
}
.Landmarks{
  border-color: transparent transparent $Landmarks transparent;
}
.Landmarks:after {
  border-color: $Landmarks transparent transparent transparent;
}
.Viewpoints{
  border-color: transparent transparent $Viewpoints transparent;
}
.Viewpoints:after {
  border-color: $Viewpoints transparent transparent transparent;
}
.Religious{
  border-color: transparent transparent $Religious transparent;
}
.Religious:after {
  border-color: $Religious transparent transparent transparent;
}
.Galleries{
  border-color: transparent transparent $Galleries transparent;
}
.Galleries:after {
  border-color: $Galleries transparent transparent transparent;
}
.Parks{
  border-color: transparent transparent $Parks transparent;
}
.Parks:after {
  border-color: $Parks transparent transparent transparent;
}

nav.navbar .home{
  color: white;
}

nav.navbar .other{
  background-color: black;
}

//------------Home Page Animation --------------
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background images are behind other content*/
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*take entire space of the page*/
  background-size: cover;
  /*position in the middle*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  /*fade images in/out : name of the animation, last 50s linear same speed, loop infinite*/
  animation: imageAnimation 50s linear infinite;
}

/*fade in each image after 10s of the previous img*/
.slideshow li:nth-child(1) {
  background-image: url(./images/picNpgx.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1534770311507-ec2bf6cf3f32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1516526992402-7519663a4c68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1336&q=80);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://mk0theadventuregfnyq.kinstacdn.com/wp-content/uploads/Types-of-climbing-3.jpg);
  animation-delay: 40s;
}


/*select imageAnimation property and set transition on keyframes */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
